<!DOCTYPE html>

{{ partial "head.html" . }}

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="{{ .Site.BaseURL }}" title="Home">{{ .Site.Title }}</a>
            </h3>
            {{ $thisperma := .Permalink }}
            {{ range .Site.Pages }}
            {{ if eq .Type "page" }}
            <a href="{{ .Permalink }}" class="fixed-link">{{ .Title }}</a>
            {{ end }}
            {{ end }}
        <span align="right">
  {{ if or .Site.Author.github .Site.Author.twitter .Site.Author.facebook .Site.Author.googleplus .Site.Author.linkedin }}

  {{ with .Site.Author.github }}
  <a class="genericon genericon-github" href="https://github.com/{{ . }}" ><!--GitHub--></a>
  {{ end }}

  {{ with .Site.Author.twitter }}
  | <a class="genericon genericon-twitter" href="https://twitter.com/{{ . }}"><!--Twitter--></a>
  {{ end }}
  {{ with .Site.Author.twitter2 }}
  | <a class="genericon genericon-twitter" href="https://twitter.com/{{ . }}"><!--Twitter--></a>
  {{ end }}

  {{ with .Site.Author.facebook }}
  | <a class="genericon genericon-facebook" href="https://www.facebook.com/{{ . }}"><!--Facebook--></a>
  {{ end }}

  {{ with .Site.Author.googleplus }}
  | <a class="genericon genericon-googleplus" href="https://plus.google.com/+{{ . }}"><!--Google+--></a>
  {{ end }}

  {{ with .Site.Author.linkedin }}
  | <a class="genericon genericon-linkedin-alt" href="https://www.linkedin.com/in/{{ . }}"><!--Linkedin--></a>
  {{ end }}

  {{ end }}
        </span>
        </div>
    </div>

    <div class="container content">
